<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>{{title}} - Book_Store_Orders</title>
        
    </head>
    <body>
        <h1>My Orders!</h1>
        {% for order in orders %}
        <div>
            <p>
                <a href="order/{{order.id - 1}}"> ORDER ID:{{order.id}} - {{ order.customer_name }}, <b> {{ order.order_date }} </b>, {{ order.quantity }} copy {{order.title}} </a>
            </p>
        </div>
        {% endfor %}
    </body>
</html>
</html>